title: "Arnon on Technology"
author: "Arnon Erba"
description: "Under Construction"
theme: "minima"
defaults:
  -
    scope:
      type: "posts"
    values:
      layout: "post"
    scope:
      path: ""
    values:
      author: "Arnon Erba"
